<div class="actualite panel-default" id="actualite-{$id}" data-index="{$index}">
<!-- 	<a href="{$url}" class="bloc-image">{$image}</a> -->
	<div class="contenu">
		{$contenu}					
	</div>
	<a href="{$url}" class="auteur">{$titre}</a>
</div>