/*
@package	Océa Manager
@version 	5

[Sommaire Stadium-2021-2022]

0- Import
1- Général
2- Liens
3- Titres
4- Header
5- Navigation
	5.1- Menu principal
	5.2- Menu bas de page
6- Corps
	6.1- Accueil
	6.2- Page
		6.2.1 Fil d'ariane
		6.2.2 Pagination
7- Widgets
	7.1- Panier
	7.2- Connexion client
	7.3- BOUTIQUE/Ajout au panier
	7.4- Zopim
8- Modules
	8.1- Actualité
		8.1.1- Liste
		8.1.2- Fiche
	8.2- Catalogue
		8.2.1- Tris
		8.2.2- Filtres
		8.2.3- Liste des catégories
		8.2.4- Liste des produits
		8.2.5- Fiche produit
			8.2.5.1- Diaporama
			8.2.5.2- Produits associés
			8.2.5.3- Commentaires
			8.2.5.4- Achat panier
			8.2.5.5- Réservation
	8.3- Editeur
	8.4- Plan du site
	8.5- Formulaire
	8.6- Boutique
		8.6.1- Etape 1 : Panier
		8.6.2- Etape 2 : Authentification
		8.6.3- Etape 3 : Coordoonées
		8.6.4- Etape 4 : Paiement
		8.6.5- Etape 5 : Validation
	8.7- Clients
		8.7.1- Liste paniers
		8.7.2- Adresses client
9- Footer
10- Coockies
11- Media queries

*/
/* =0 Import
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
/* =1 Général
-------------------------------------------------------------------*/
html,
body {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	line-height: 1.7em;
	font-size: 100%;
}
ul {
	padding: 0;
}
ul li {
	list-style-type: none;
}
.texte-categorie ul li::before,
.module-actualite ul li::before, 
.module-compte ul li::before, 
.module-editeur ul li::before{
  content: "●";
  color: #c27a62;
  padding: 0 10px 0 0;
/*   margin-right: 10px; */
  font-size: 0.9em;
}
.module-editeur .inner_interne ol li::before {
	content: none;
	color: red;
}
ol span{
  color : #000000;
  font-weight: 400;
  font-size: 1em;
}
ol li.saumon{ 
  color : #c27a62;
  font-weight: 700;
  font-size: 1.1em;
}
.popover {
	max-width: none;
}
#toggle_recherche + .popover{
	max-width: none;
	width: 600px;
}
.inner{
	margin: 0 auto;
   	width: 100%;
    position: relative;
    z-index: 1;
    max-width: 1500px;
}
hr{
	border: 0 none;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
}
.clear-both{
	clear: both;
}
.hide{
	display: none;
}
.text-important{
	color: #a01616;
	font-weight: 600;
	font-size: 1.125rem;
}

/* =2 Liens
-------------------------------------------------------------------*/
a{
	color: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 05s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.btn{white-space: initial;}

/* .btn, */
.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-adresse,
#supression-compte a,
.bt-compte,
#continuer_achats_popup,
#voir_panier_popup,
.btn-retour,
.btn-panier,
#bt-continuer,
.nouveau-compte,
.bt-deconnexion,
.btn-primary,
.bouton{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	background: #00473f;
	border: solid 2px #00473f;
	padding: 5px 20px;
	margin: 20px 10px;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.btn-panier{
	padding: 10px 20px;
}
#supression-compte a,
#bt-continuer,
#continuer_achats_popup,
.bt-deconnexion,
.nouveau-compte{
	background: #c27a62;
	border: solid 2px #c27a62;
}
.btn-inverse,
.btn-adresse:hover,
.btn-adresse:focus,
.bt-compte:hover,
.bt-compte:focus,
.nouvel_onglet:hover,
.nouvel_onglet:focus,
#voir_panier_popup:hover,
#voir_panier_popup:focus,
.btn-retour:hover,
.btn-retour:focus,
.btn-panier:hover,
.btn-panier:focus,
.btn-primary:focus,
.btn-primary:hover,
.bouton:hover,
.bouton:focus{
	background: #fff;
	color: #00473f;
	text-decoration: none;
}
#supression-compte a:hover,
#supression-compte a:focus,
#bt-continuer:hover,
#bt-continuer:focus,
#continuer_achats_popup:hover,
#continuer_achats_popup:focus,
.bt-deconnexion:hover,
.bt-deconnexion:focus,
.nouveau-compte:hover,
.nouveau-compte:focus{
	background: #fff;
	color: #c27a62;
	border: solid 2px #c27a62;
}
.btn-default{
	border: none;
	padding: 0 10px;
}
.lien-standard{
	color: #00473f;
	font-weight: 700;
	text-decoration: underline;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.lien-standard:focus,
.lien-standard:hover{
	color: #c27a62;
}
.compte .lien-telechargement-inverse:hover,
.compte .lien-telechargement,
.module-actualite .lien-telechargement,
.module-formulaire .lien-telechargement,
.module-catalogue .lien-telechargement,
.module-boutique .lien-telechargement,
.module-editeur .lien-telechargement{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	border: solid 2px #00473f;
	padding: 5px 45px 5px 20px;
	margin: 20px 10px;
	background: url("../img/ico-telecharger.png") no-repeat scroll 95% 40% #00473f;
	text-decoration: none;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.menu-compte .lien-telechargement-inverse,
.lien-telechargement:focus,
.lien-telechargement:hover {
     background: url("../img/ico-telecharger-hover.png") no-repeat scroll 95% 65% #ffffff;
     color: #00473f;
}
.menu-compte .lien-telechargement-inverse:focus,
.menu-compte .lien-telechargement-inverse:hover{
	background: url("../img/ico-telecharger.png") no-repeat scroll 95% 40% #00473f;
	margin: 0;
	padding: 15px 45px 15px 10px;
	border: none;
	font-weight: initial;	
}
/* =3 Titres
-------------------------------------------------------------------*/
.bloc_titre_h1{
	text-align: center;	
	margin: 0;
}
h1{
	font-size: 3em;
	text-transform: uppercase;
	margin: 20px 10px 40px 10px;
	font-weight: 400;
	word-break: break-word;
}
h1 span{
	text-transform: initial;
	margin: 0 0 15px 0;
	display: block;
	word-break: break-word;
}
h2,
h2 a{	
	color: #00473f;	
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.4em;
	margin: 25px 0 15px 0;
	word-break: break-word;
}
h2 a:focus,
h2 a:hover{	
	color: #000;
	text-decoration: none;	
}
h3{	
	color: #c27a62;
	font-size: 1.6em;
	font-weight: 600;
}
h4{
	color: #00473f;
	font-size: 1.125em;
	text-transform: uppercase;
}
h2.panel-heading,
h3.panel-heading,
h4.panel-heading {
	margin-top: 0;
}

/* =4 Header
-------------------------------------------------------------------*/
header {
  	position: sticky;
  	top: 0px;
  	background: #ffffff;
  	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  	width: 100%;
  	z-index: 2;
}
#zone-logo,
#bg-navigation,
#zone-widget{
	display: inline-block;
	vertical-align: middle;
}
#zone-widget{
	text-align: right;
}
#zone-logo{
	width: 18%;
	padding: 15px 10px;
}
#logo,
#mm-logo{display: flex;}
#bg-navigation{
	width: 68%;
}
#top_header{
	background: #00473f;
	color: #fff;
	font-family: 'Caveat', cursive;
	font-size: 1.4em;
	padding: 3px 10px;
	position: relative;
}
#top_header a{
	color: #fff;
	text-decoration: underline;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
#top_header a:hover,
#top_header a:focus{
	text-decoration: none;
	font-weight: bold;
}
#bottom_header {
	padding: 0 10px;
}
#widget_recherche{
	display: none;
}

/* =5 Navigation
-------------------------------------------------------------------------------*/

/* =5.1 Menu principal
-------------------------------------------------------------------------------*/
.smobitrigger, 
.mnuclose { 
	display: none; 
}
.navigation {
	position: relative;
}
.navigation ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background : #FFFFFF;
}
.navigation nav ul li { 
	display: inline-block; 
	width: 25%;
	position : relative;
}
.navigation li > a, 
.navigation li > span {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	position: relative;
  	font-size: 1.1em;
    font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	padding: 10px 3px;
	line-height: 4.5em;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
}
.navigation .niveau-1 li > span:hover::after, 
.navigation .niveau-1 li > span:focus::after,
.navigation .niveau-1 li > a:hover::after, 
.navigation .niveau-1 li > a:focus::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.navigation .niveau-1 li > a::after,
.navigation .niveau-1 li > span::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #00473f;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navigation .niveau-1 li > span:hover::after, 
.navigation .niveau-1 li > span:focus::after,
.navigation .niveau-1 li > a:hover::after, 
.navigation .niveau-1 li > a:focus::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/** second niveau **/
.niveau-2{
	-moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
	-webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
	-o-box-shadow: 2px 2px 5px 0px #9b9b9b;
	box-shadow: 2px 2px 5px 0px #9b9b9b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
}
.niveau-1 .niveau-2{
	display: none;
	border-top : 5px solid #00473f;
	position : absolute;
	z-index : 20;
	width: 100%;
	max-width : 1300px;
	left : 0;
  	padding : 0;
}
.section-20 .niveau-2{
	width: 120%;
}
.niveau-2 li > a, 
.niveau-2 li > span {
	padding: 9px 10px;
    text-align: left;
    line-height: 1.6em;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    font-size: 1em;
}
.menu-footer ul li a::after,
.niveau-2 li > a::after,
.niveau-2 li > span::after {
  	background: none;
}
.niveau-1 li .niveau-2 li > a:hover,
.niveau-1 li .niveau-2 li > a:focus {
	color: #fff;
	background: #00473f;
}
.niveau-1 > li > ul{
	width: auto;
}
.niveau-1 li ul li{
    position: relative;
    display : inline-block;
    width: 100%;
}
/** burger **/
#mm-logo-burger{
	padding: 0 60px;
}

.mm-panels > .mm-panel > .mm-listview {
	border-top: solid 1px rgba(0,0,0,0.2);
}
.mm-listview > li > a, 
.mm-listview > li > span {
	font-size: 1.4em;
	text-transform: uppercase;
	padding: 20px;
}

.mm-listview > li > a:hover, 
.mm-listview > li > a:focus, 
.mm-listview > li > span:hover,
.mm-listview > li > span:focus {
	color: #ffffff;
	background: #00473f;
}
.mm-menu .mm-listview > li .mm-next:hover::after,
.mm-menu .mm-listview > li .mm-next:focus::after {
  border-color: #fff;
}
.mm-listview > li:not(.mm-divider)::after {
	left: 0;
}
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), 
.mm-menu .mm-listview > li.mm-selected > span {
  background: #00473f;
}


/* =5.2 Menu bas de page
-------------------------------------------------------------------------------*/
.menu-footer{
	padding: 0 0 10px 0;	
}
.menu-footer ul,
.col-six p{
	margin: 25px 0 0 0;
	padding: 0;
}
.menu-footer li{
	display: inline-block;
	width: 100%;
}
.col-double-six .menu-footer li{
	display: inline-block;
	width: 50%;
}
.menu-footer ul li a {
	color: #ffffff;
	padding: 0px 0;
	display: block;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    width: auto;  
}
.menu-footer ul li a:focus,
.menu-footer ul li a:hover {
	color: #c27a62;
}
.menu-paiement a{
	vertical-align: middle;
	display: inline-block;
	margin: 5px 10px 5px 0;
}
.menu-paiement img{
filter: brightness(100%);
-webkit-filter: brightness(100%);
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.menu-paiement img:hover{
filter: brightness(50%);
-webkit-filter: brightness(50%);
}
.menu-paiement ul{
  margin: 0;
  padding: 0;
}
/* =6 Corps
-------------------------------------------------------------------------------*/
blockquote {
	font-size: 1.1em;
	width: 70%;
	margin: 50px auto;
	font-family: Open Sans;
	font-style: italic;
	color: #555555;
	padding: 30px 40px 30px 70px;
	border-left: 8px solid #00473f;
	line-height: 1.6;
	position: relative;
	background: #EDEDED;
}
blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #00473f;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

/** =6.1 Accueil
-------------------------------------------------------------------------------*/
.carousel-indicators {
  z-index: 1;
}
.carousel-caption {
	right: 20%;
	left: 20%;
	top: 45px;
	bottom: auto;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption .texte-diapo{
	font-size: 2.5rem;
	line-height: 3.2rem;
	font-weight: 500;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.76);
	text-transform: none;
	margin: 0;
}
.texte-diapo .bouton{
	font-size: 1.3rem;
	line-height: 1.3rem;
	text-shadow: none;
	padding: 10px 20px;
	margin: 20px 10px;
}
.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#presentation-stadium{
	padding: 30px;
	background: #ececec;
}
#presentation-stadium p{
	font-size: 1.2em;
	line-height: 1.8em;
}
#presentation-stadium .bouton{
	margin: 20px 10px 5px 10px;
}
.zone-pdt-home{
	padding: 20px 0 20px 0;
}
#produit-accueil-1 .produits{
  margin: 2% 1% 2% 1%;
}
#zone-histoire{
	background: #000;
	color: #fff;
}
#zone-histoire .inner{
	padding: 0 30px;
}
#zone-histoire h2{
	color: #fff;
	width: 60%;
	margin: 0px 20% 30px 20%;
	padding: 30px 0;
	border-bottom: solid 1px #fff;
}
#zone-histoire .col-demi{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}
.lien-histoire{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 20px;
	margin: 10px 0;
	border: solid 1px #000;
}
.lien-histoire img{
	vertical-align: initial;
	padding: 0 0 0 5px;
}
.lien-histoire:hover,
.lien-histoire:focus{
	text-decoration: none;
	border: solid 1px #fff;
	color: #fff;
}
#zone-temoignage h2{
	text-align: center;
}
#zone-racourci{
	background: #ececec;
}
#zone-racourci .inner{
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.inner .carre{
	flex-basis: 23%;
	margin: 1%;
	text-align: center;
}
.inner .car-ent{
	background: #fff url(../img/cat-entreprises.webp) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.inner .car-collec{
	background: #fff url(../img/cat-collectivites-mairie-secteurpublic.webp) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.inner .car-pomp{
	background: #fff url(../img/cat-pompiers-SDIS.webp) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.inner .car-etu{
	background: #fff url(../img/cat-etudians-calots.webp) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.carre h3{
	color: #fff;
	font-family: 'Caveat', cursive;
	font-size: 2.2em;
	font-weight: bold;
}
.carre small{
	color: #fff;
	font-family: 'Caveat', cursive;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1em;
}
.carre a{
	display: block;
	color: #fff;
	background: rgba(0, 0, 0, 0.6); 
	padding: 20px;
	margin: 70px 20px;
}
.car-ent a{
	margin: 90px 20px;
}
.car-pomp a{
	margin: 80px 20px;
}
.car-etu a{
	margin: 100px 20px;
}
.carre a:active,
.carre a:focus,
.carre a:hover{
	text-decoration: none;
	background: rgba(0, 0, 0, 0.9); 
}
#zone-lien-info{
	background: #ececec;
	padding: 30px 0;
	margin: 10px 0 0;
}
#zone-text-ref{
	padding: 30px 0;
}
.col-titre{
	display: inline-block;
	width: 25%;
	padding: 10px;
	vertical-align: middle;
}
.col-deux-tier{
	display: inline-block;
	width: 75%;
	vertical-align: middle;
}
.home-info {
  flex-basis: 23%;
  -ms-flex-basis: 23%;
  margin: 1%;
}
.home-info a{
	display: block;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.2em;
}
.home-info a:hover,
.home-info a:focus{
	color: #00473f;
	text-decoration: none;
}
.home-info img:hover,
.home-info img:focus{
	filter: grayscale(80%);
	transition-duration: 0.8s;
}

/** =6.2 Page
-------------------------------------------------------------------------------*/
.message li::before, 
#zone-text-ref li::before, 
.produit .inner_interne li::before, 
.module-actualite .inner_interne li::before, 
.module-formulaire .inner_interne li::before, 
.module-editeur .inner_interne li::before {
  	content: "●";
  	color: #c27a62;
  	padding: 0 10px 0 0;
  	font-size: 1.2em;
}
.produit .bloc_diaporama li::before,
.module-actualite .inner_interne .pagination li::before{
	content: none;
}
.img_section img {
    height: auto;
    width: 100%;
}
#ecotree{
	margin: 0 0 10px 0;
}
#section-7 .col-md-3{
	margin: 0 0 30px 0;
}

/** =6.2.1 Fil d'ariane
-------------------------------------------------------------------------------*/
#fil-ariane{
	margin: 10px;
}
#fil-ariane a,
#fil-ariane span{
	color: #5b5b5b;
	font-size: 0.8em;
}
#fil-ariane li{
	display: inline-block;
	color: #5b5b5b;
}
#fil-ariane .separateur span {
    margin: 0 10px;
}
#fil-ariane li::before{
	content: none;
}
/** =6.2.2 Pagination
-------------------------------------------------------------------------------*/
.zone-pagination{
	border-top: solid 1px #c6c6c6;
	margin: 30px 0 0 0;
}
.zone-pagination .pagination li::before{
  content: none;
}
.pagination .prev,
.pagination .next{
	display: none;
}
.pagination .first a,
.pagination .last a{
	display: inline-block;
	background: transparent;
	color: #787878;
	font-size: 1em;
	text-align: center;
	border: none;
	padding: 0;
	margin: 0 5px;
	float: none;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 700;
	padding: 0 25px;
}
.pagination > .first > a:hover,
.pagination > .last > a:hover,
.pagination > .first > a:focus,
.pagination > .last > a:focus{
	background: none;
	color: #787878;
	border: none;
	height: auto;
}
.pagination li:before,
.pagination li:before,
.pagination li:before {
	content: none; 
}
.pagination > li {
  display: inline;
  margin: 0;
}
.pagination > .cercle > a, 
.pagination > .cercle  > span{
	display: inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: transparent;
	color: #787878;
	font-size: 1em;
	text-align: center;
	border: none;
	padding: 0;
	margin: 0 5px;
	float: none;
	border: solid 2px transparent;
}
.pagination > .cercle  > a:focus, 
.pagination > .cercle  > a:hover, 
.pagination > .cercle  > span:focus, 
.pagination > .cercle  > span:hover {
  	color: #00473f;
	background: transparent;
	border: solid 2px #00473f;
}
.pagination > .cercle.active > a, 
.pagination > .cercle.active > span{
	display: inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: #fff;
	background: #00473f;
	border: solid 2px #00473f;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
	color: #00473f;
	background: transparent;
	border: solid 2px #00473f;
}
/** =7 Widgets
-------------------------------------------------------------------------------*/
.modal-content,
.modal-footer {
	text-align: center;
}
#panier{
	padding: 9px 0px;
	max-height: 600px;
	overflow-y: scroll;
}
.module-boutique #panier{
	overflow-y: none;
}
.popover-content .widget-panel{
	width: 330px;
}
.btn_enregistre_panier{
	margin: 10px 0;
}
#form-connexion input{
	margin: 10px 0;
}
#form-connexion .oubli-mdp{
	display: block;
	text-align: center;
	color: #6d6d6d;
	font-style: italic;
	text-decoration: underline;
}
#form-connexion .oubli-mdp:hover,
#form-connexion .oubli-mdp:focus{
	color: #000;
}
.input-group-btn,
#recherche button{
	background: #00473f;
	color: #fff;
	margin: 0;
}

/** =7.1 BOUTIQUE/Panier
-------------------------------------------------------------------------------*/
.liste-vide {
	padding: 30px;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
.liste-vide span{
	text-transform: uppercase;
}
/* =7.2 BOUTIQUE/Connexion client
-------------------------------------------------------------------------------*/
#bt-panier{
	position: relative;
}
.widget svg{	
	height: 25px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.nb-article{
	position: absolute;
	top: 6px;
	left: 9px;
	width: 19px;
	color: #00473f;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1em;
}
.btn-default.active, 
.btn-default:active, 
.open > .dropdown-toggle.btn-default,
.btn-default.focus, 
.btn-default:focus,
.widget:hover{
	background: none;
	box-shadow: none;
	outline: none;
}
.widget:hover svg{
	fill: #c27a62;
}
.deconnecte .btn{
	margin: 5px 0px;
}
.connecte .btn {
	display: inline-block;
	width: 100%;
	margin: 0 0 10px 0;
}
.connecte .btn:last-child {
	margin-top: 10px;
}
#liste-panier .supprimer-produit, 
#panier .supprimer-produit {
	color: #9b2723;
	background: transparent;
	border: none;
	font-size: 1em;
}
#panier .btn-primary{
	margin: 0 10px;
}

/* =7.3 BOUTIQUE/Ajout au panier
-------------------------------------------------------------------------------*/
.ajouter-panier .quantite {
	width: 70px;
	text-align: center;
}
/* =7.4- ZOPIM
-------------------------------------------------------------------------------*/
/* =8 Modules
-------------------------------------------------------------------------------*/
/** =8.1 Actualité
-------------------------------------------------------------------------------*/
/** =8.1.1 Actualité : Liste
-------------------------------------------------------------------------------*/
#liste-actualites{
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
#liste-actualites .actualites{
	border: solid 1px #f4f4f4;
	flex-basis: 48%;
	margin: 2% 0 0 0;
}
.bloc-image img{
	display: block;
	width: 100%;
	height: auto;
}
.actualites .contenu{
	padding: 0 20px;
}
#section-35 .actualites{
	border: none;
	box-shadow: none;
	margin: 0 0 20px 0;
}
#section-35 .bloc-image{
	margin: 0;
	display: block;
	width: auto;
}
#actualites-accueil-1,
#section-35 #liste-actualites{
	display: flex;
	display: -ms-flex;	
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
#actualites-accueil-1,
#produit-accueil-1{
	justify-content: center;
}
#actualites-accueil-1 .actualite,
#section-35 .actualite,
#section-35 .actualites{
	flex-basis: 29%;
	-ms-flex-basis: 29%;
	margin: 2%;
}
#actualites-accueil-1 .actualite .contenu, 
#section-35 .actualite .contenu, 
#section-35 .actualites .contenu{
	margin: 15px 0 0;
	padding: 0;
}
#actualites-accueil-1 .auteur,
#section-35 .auteur{
	display: block;
	font-style: italic;
	margin: 15px 0 0 0;
	color: #00473f;
}

/** =8.1.2 Actualité : Fiche
-------------------------------------------------------------------------------*/
.actualite .diaporama{
	margin: 0 0 20px 0;
}
/** =8.2 Catalogue
-------------------------------------------------------------------------------*/
/** =8.2.1 Catalogue : Tris
-------------------------------------------------------------------------------*/
/** =8.2.2 Catalogue : Filtres
-------------------------------------------------------------------------------*/
#gestion-filtres {
	width: 15%;
}
#vos-filtres,
#filtres-critere{
	background: #fff;
	border: solid 1px #e0dfdf;
	padding: 10px 15px;
	margin: 0 0 12px 0;
}
.lib-filtre {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 10px 0;
}
.bloc_critere {
	border-top: solid 1px #c6c6c6;
	display: block;
	width: 100%;
	padding: 8px 0;
	position: relative;
}
.titre-filtre{
	display: block;
	width: 100%;
	cursor: pointer;
}
.titre-filtre:hover::after {
  transform: rotate(0deg);
}
.titre-filtre::after {
  content: url(../img/puce-filtre.png);
  position: absolute;
  right: 10px;
  transition: all 0.1s linear;
  font-size: 16px;
  transform: rotate(-90deg);
}
.bloc_critere .criteres{
	display: none;
}
.criteres li a::before{
	content: url(/assets/img/ico-checkbox.png);
    text-align: left;
    display: inline-block;
    width: 12px;   
    margin: 0 10px 0 0;
}
.criteres li a:focus::before,
.criteres li a:hover::before{
	content: url(/assets/img/ico-checkbox-hover.png);
}
.criteres .enabled a::before,
.criteres .enabled a:focus::before,
.criteres .enabled a:hover::before{
	content: url(/assets/img/ico-checkbox-select.png);
}
.criteres .enabled a{
	color: #00473f;
	text-decoration: underline;
}
.criteres a{
	display: inline-block;
	padding: 5px 0 5px 10px;
	font-style: italic;
	color: #0c0c0c;
}
/** Reset **/
.reset-filtre{
	display: block;
	font-size: 0.9em;
	font-weight: 700;
	color: #c27a62;
	text-decoration: underline;
	margin: 10px 0 0 0;
}
.reset-filtre:hover,
.reset-filtre:focus{
	color: #c27a62;
	text-decoration: none;
}
.critere-actif{
	font-style: italic;
	font-size: 0.9em;
	line-height: 1em;
	display: inline;
	padding: 0 10px;
	border: solid 1px #b3b3b3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.critere-actif a{
	color: #0c0c0c;
}
.critere-actif:hover,
.critere-actif:focus{
	background: #ececec;
	cursor: pointer;
}
.critere-actif a:hover,
.critere-actif a:focus{
	text-decoration: none;
}

/** =8.2.3 Catalogue : Liste des catégories
-------------------------------------------------------------------------------*/
#liste-categories .categories {
	display: inline-block;
	width: 23%;
	margin: 1%;
	position: relative;
}

/** =8.2.4 Catalogue : Liste des produits
-------------------------------------------------------------------------------*/
#produit-accueil-1,
.col-lien-info,
.module-catalogue .inner_interne{
	display: flex;
	display: -ms-flex;	
}
.col-lien-info,
#produit-accueil-1{
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}
#produit-accueil-1 .produits{
	flex-basis: 18%;
}
#zone-filtre{
  position: sticky;
  top: 180px;
}
#gestion-filtres{
	width: 15%;
	vertical-align: top;
	margin: 0;
}
#liste-produits {
	width: 84%;
	margin: 0 0 0 1%;
	display: flex;
	display: -ms-flex;	
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.module-catalogue-recherche #liste-produits {
	width: 100%;
	margin: 0;
	padding: 20px 0 0 0;
}
#resultats_recherche{
	padding: 42px 0 0 0;
}
#resultat-vide{
	text-align: center;
	margin: 30px;
}
.module-catalogue-recherche .produits {
  flex-basis: 18%;
  -ms-flex-basis: 18%;
}
.produits{
	position: relative;
	flex-basis: 23%;
	-ms-flex-basis: 23%;
	margin: 0% 1% 3% 1%;
	vertical-align: top;
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 05s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.produits:hover,
.produits:focus{
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3); 
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3); 
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3); 
}
.nouveau{
	font-size: 0.75em;
	font-weight: 700;
	background: #00473f;
	color: #fff;
	line-height: 6em;
	text-transform: uppercase;
	text-align: center;
	height: 74px;
	width: 74px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.zone-info-pdt{
	text-align: center;
	padding: 10px;
}
.zone-info-pdt h3,
#liste-produits h3 {
	text-align: center;
	margin: 10px 0 0 0;
}
.zone-info-pdt h3 a,
#liste-produits h3 a{
	display: block;
	color: #000;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.7em;
	word-break: break-word;
	min-height: 70px;
}
.produits-associes .produits img,
.widget .produits img,
#liste-produits img, 
.widget_produits img {
    height: auto;
    width: 100%;
}
.zone-info-pdt .libelle-2,
#liste-produits .libelle-2{
	color: #00473f;
	font-size: 1em;
	font-style: italic;
}
.produits-associes .libelle-2 img,
.widget .libelle-2 img,
#liste-produits .libelle-2 img, 
.widget_produits .libelle-2 img{
	width: initial;
}
.widget a.lien-image,
#liste-produits a.lien-image {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
#liste-produits .description,
#liste-produits .zone-quantite {
	display: none;
}
/* Ajout au panier */
#liste-produits .widget.boutique {
	padding: 15px;
	width: 100%;
}
/* Tarifs */
.tarification{
	padding: 10px 0 0 0;
}
.tarification span{
	color: #646464;
	font-size: 0.8em;
	font-style: italic;
}
.tarification .prix{
	color: #00473f;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	font-style: normal;
	padding: 0 6px;
}
.tarifs {
	margin-top: 5px;
	min-height: 25px;
}
.taux-remise {
	margin-left: 10px;
}
.prix-non-remise {
	text-decoration: line-through;
}
.prix-vente {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.9em;
	font-weight: 700;
	color: #00473f;
}
.texte-categorie{
	padding: 30px;
	font-size: 0.9em;
	font-style: italic;
}
/** =8.2.5 Catalogue : Fiche produit
-------------------------------------------------------------------------------*/
.produit .inner_interne{
	margin: 30px 0 0 0;
}
.produit h1{
	margin: 0px 10px 30px 0px;
}
.produit .libelle-2{
	display: block;
	margin: 0 0 10px 0;
}
#bloc_commande{
	border-top: solid 1px #adadad;
	border-bottom: solid 1px #adadad;
	margin: 15px 0;
}
.zone-selection{
	padding: 20px 40px;
}

.zone-quantite label,
.bloc_formulaire label,
#zone-choix-critere-principal span{
	display: inline-block;
	width: 20%;
	font-size: 1em;
	font-weight: 400;
	vertical-align: sub;
}
#zones-livraison select,
#select_livraisons,
.bloc_formulaire textarea,
#zone-choix-critere-principal select{
	display: inline-block;
	width: 80%;
	margin: 10px 0;
	border: none;
	border-radius: 0px;
	padding: 5px 10px;	
	vertical-align: inherit;
	background: #f5f5f5;
}
#zones-livraison select{
	width: auto;
}
.btn-saisie-quantite,
.zone-btn-fichier div{
	display: inline-block;
	width: 80%;
	margin: 0 0 10px 0;
	vertical-align: top;
}
#upload-fichier span,
.btn-saisie-quantite span,
.btn-saisie-quantite input{
	display: inline-block;
}
.btn-saisie-quantite .btn{
	background: #f5f5f5;
	padding: 5px 10px;
}
.input-qte .form-control{
	display: inline-block;
}
#upload-fichier span{
	vertical-align: middle;
}
.info-format{
	font-style: italic;
	margin: 0 10px;
}
.nom_fichier{
	background: #f4f4f4;
	padding: 2px 5px;
}
.supprimer-fichier{
	color: #a31c19;
	font-weight: 600;
	margin: 0 10px;
}
.supprimer-fichier:hover,
.supprimer-fichier:focus{
	color: #00473f;
}
.zone-btn-ajout{
	border-top: solid 1px #adadad;
	padding: 10px 0;
}
.col-demi{
	display: inline-block;
	width: 50%;
	text-align: center;
	vertical-align: middle;
}
#bloc_commande .fileinput-button input, .complementaire_gravure .fileinput-button input, .modification_gravure .fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 100;
  position: relative;
  right: 0;
  top: 0;
  width: auto;
	font-size: 1em !important;
}
#zone-reassurance{
	display: flex;
	justify-content: space-between;
	text-align: center;
	background: #f5f5f5;
	padding: 10px 20px;
}
.reassurance a{
	display: block;
	margin: 10px 0;
	text-transform: uppercase;
	color: #00473f;
}
.reassurance a:focus,
.reassurance a:hover{
	color: #000;
	text-decoration: none;
	font-weight: 500;
}
.fichier-exemple
{
	margin: -20px auto 15px;
	font-size: 0.85em;
	padding: 2px 15px;
}

/** =8.2.5.1 Fiche produit : Diaporama
-------------------------------------------------------------------------------*/
.module-catalogue .diaporama {
	margin: 0 0 20px 0;
}
.bloc_diaporama .bx-wrapper{
	display: inline-block;
	width: 80%;
	vertical-align: top;
	text-align: center;
}
#bx-pager{
	display: inline-block;
	width: 20%;
	flex-direction: column;
}
#bx-pager span{ 
	display: flex;
} 
#bx-pager span a{ 
	border: solid 1px #f4f4f4; 
	margin: 10px; 
	padding: 5px; 
	width: 100%;
	text-align: center;
} 
#bx-pager span a.active{ 
	border: solid 1px #989898; 
} 

/** =8.2.5.2 Fiche produit : Produits associés
-------------------------------------------------------------------------------*/
.produits-associes {
	padding: 30px 0 0 0;
	display: flex;
	display: -ms-flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.produits-associes  .produits {
	flex-basis: 23%;
	-ms-flex-basis: 23%;
	margin: 0% 1% 3% 1%;
}
.produits-associes ul {
	list-style-type: none;
}

/** =8.2.5.3 Fiche produit : Commentaires
-------------------------------------------------------------------------------*/
.commentaires {}
.resume_note {
	text-align : center;
	border: 1px solid #dddddd;
	padding: 15px 30px;
}
.resume_note .moyenne_general{
	font-size : 3em;
}
.commentaires .date{
	color: #6d6d6d;
    display: block;
    text-align: right;
}
.commentaires .reponse{
	background : #EEEEEE;
	padding : 15px;
	margin: 0 0 10px 20px;
}
.commentaires .note{
	font-size : 1.75em;
	display: block; 
}
#vote > label::before {
    content: "☆";
    font-size: 35px;
    cursor: pointer;
}
#vote > label:hover::before,
#vote > label.selected::before,
#vote > label.previous_note::before,
#vote > label.previous_selected_note::before{
    content: "★";
}
#vote > input.star {
    display: none;
}

/** =8.2.5.4 Fiche produit : Achat panier
-------------------------------------------------------------------------------*/
/* =8.3 Editeur
-------------------------------------------------------------------------------*/
.compte,
.module-boutique,
.module-actualite,
.module-catalogue,
.module-editeur,
.module-formulaire {
	margin: 0 0 50px 0;
	padding: 0 30px;
}
.module-catalogue{
	margin: 0 0 50px 0;
	padding: 0 15px;
}
/* =8.4 Plan du site
-------------------------------------------------------------------------------*/
/* =8.5 Formulaire
-------------------------------------------------------------------------------*/
.module-formulaire {
	display: inline-block;
	width: 100%;
}
#groupe-carte{
	margin: 0 0 20px 0;
}
#groupe-2,
#groupe-7 {
  margin: 0 2% 0 0;
}
#groupe-1,
#groupe-5{
  margin: 0 0 0 2%;
}
#groupe-1, 
#groupe-2,
#groupe-5,
#groupe-7{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
#captcha {
  margin: 10px 0 0 0;
}
#groupe-validation {
  width: 100%;
  text-align: right;
}
legend,
#adresses_supp_compte h4{
	color: #00473f;
	font-size: 1.5em;
	font-weight: 600;
	margin: 15px 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #00473f;
}
.form-group .libelle-radio,
.form-group label{
	max-width: 80%;
    margin: 5px 10px 2px 0;
    font-weight: 500;
}
.form-group .multiselect,
.form-group input,
.form-group .multiselect,
.colonne_demi label,
.btn-group, 
.btn-group-vertical,
.multiselect-container{
	width: 100%;
}
.form-inline .form-control,
form input[type="text"],
form input[type="password"] {
    border: 1px solid #b2b2b2;
    box-shadow: none;
    padding: 0 10px;
    width: 100%;
}
#livraison-code_postal,
#livraison-telephone,
.numero-telephone{
	font-family: 'Source Sans Pro', sans-serif;
}
.form-group input[type="checkbox"], 
.form-group input[type="radio"] {
    line-height: normal;
    margin: 0 5px 0 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    border: none;
    box-shadow: none;
}
.form-group .upload{
	padding: 0;
}
.titre-champ,
.libelle-radio{
	width: 100%;
	display: block;
}
.form-group label.label-newsletter{
	max-width: 100%;
	display: block;
}
.label-inverse{
	display: inline-block;
}
.panel-body{padding: 0;}
.panel-body .form-group input[type="checkbox"]{
	margin: 4px 5px 0 0;
}
.form-inline{
	margin-bottom: 15px;
}
.colonne_demi{
	display: inline-block;
	width: 49%;
}
.colonne_droite{
	margin: 0 0 0 2%;
}
.btn-group .multiselect{
	text-align: left;
}
.form-group .hide-native-select input[type="checkbox"] {
	left: 15px;
	top: 7px;
}
select > option {
    padding: 5px 12px;
}
form textarea {
    border: 1px solid #b2b2b2;
    padding: 10px;
    width: 100%;
}
.form-control:focus,
form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
	box-shadow: none;
}
/** message erreur **/
.alert-danger,
.alert-info,
.alert{
	text-align: center;
}
.etape4 .alert-danger{
	text-align: left;
}
/*Taille Fichiers*/
.taille-limite,
.taille-fichier{
	font-style: italic;
	color: grey;
	padding: 5px 0 0;
	margin: 0;
}
.taille-envoyee{
	color: #283f88;
	font-style: italic;
	font-weight: 600;
}
.taille-depasser{
	color: #c51604;
}
/** Autre formulaire **/
#form-connexion-extranet,
#form_suppresion_compte,
#form-validation,
#form_nouveau_mdp,
#form-abonnement,
#form-deabonnement{
	margin: 2% 25%;
    width: 50%;
}
.group_siret
{
	display: none;
}
/** =8.6 Boutique
-------------------------------------------------------------------------------*/
.module-boutique {
	display: inline-block;
	width: 100%;
	padding: 20px 30px 0 30px;
}
.panel {
  border: none;
  box-shadow: none;
}
.bg-info {
  	background-color: #ffffff;
	color: #000;
}

/* Guides des étapes */
#guide-etapes {
	list-style-type: none;
	width: 98%;
	margin: 0 1% 1% 1%;
	text-align: center;
	padding: 15px 0;
}
#guide-etapes li {
	display: inline-block;
	text-align: center;
	width: 20%;
}
#guide-etapes span{
	display: inline-block;
	vertical-align: middle;
}
#guide-etapes .numero{
	font-size: 1.25em;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #00473f;
	color: #fff;
	margin: 0 10px;
}
#guide-etapes .separateur{
	display: none;
}
#guide-etapes li.active {
	font-weight: bold;
}
#guide-etapes li.active .numero{
	background: #c27a62;
}

/* =8.6.1 Commande :: ETAPE 1
-------------------------------------------------------------------------------*/
.modal-footer {
	padding: 5px 15px;
}
#liste-panier {
	width: 100%;
}
#liste-panier tr {
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
}
.supprimer-produit {
  	border: 1px solid transparent;
}
.montant,
.td-3,
.td-5,
.td-6{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
}
.td-2 .description a:active,
.td-2 .description a:focus,
.td-2 .description a:hover{
	color: #00473f;
}
.td-4 .bt-qte .btn{
	background: #fff;
}
#liste-panier .td-4 .quantite {
	width: 70px;
	text-align: center;
}
#liste-panier .td-2 .image {
	float: left;
	margin-right: 5px;
}
.th-3,
.th-4,
.th-8,
.td-3,
.td-4,
.td-5{
	text-align: center;
}
.input-qte {
  margin: 0 auto;
}
#liste-panier td:last-child,
#liste-panier th:last-child {
	text-align: right;
	padding-right: 20px;
}
#formulaire-etape1 {
	position: relative;
}
.info-sur-cdes{
	color: #48a839;
	font-size: 1.2em;
	font-weight: 500;
}
/* Loader lors du recalcul du panier */
.etape1 .boutique-attente {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3) url('../img/loader.gif') no-repeat center center;
	width: 100%;
	height: 100%;
	z-index: 11;
}
.ligne-tranporteur{
	border-top: 1px solid #E7E7E7;
	padding: 15px;
	padding-right: 20px;
	margin-top: 10px;
}
.ligne-montant {
	border-top: 1px solid #E7E7E7;
	padding: 15px;
	text-align: right;
	padding-right: 20px;
	margin-top: 10px;
}
#zones-livraison select{
	width: auto;
}
#frais-port .libelle,
.ligne-montant .libelle {
	display: inline-block;
	margin-right: 20px;
} 
.bt-qte button {
	padding: 1px 10px 5px 10px;
	border: none;
	background: #85837a;
	color: #000;
	font-weight: 400;
	font-size: 1.2em;
}
.input-group .form-control {
  float: none;
}
.module-boutique.etape1 #liste-panier .modification_gravure a.toggle_modif{
	background: #292929 ;
	color : white;
	text-decoration: none;
	padding : 1px 6px;
}
.module-boutique.etape1 #liste-panier .zone-modifie-options{
	display: none;
}
.module-boutique.etape1 #liste-panier .zone-modifie-options textarea{
	margin-top : 5px;
}

.module-boutique.etape1 #liste-panier .zone-modifie-options > a {
    background: #fbdc7b none repeat scroll 0 0;
    margin-top: 5px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
}
.module-boutique.etape1 #liste-panier .zone-modifie-options a.supprimer-fichier {
    background: #585858 none repeat scroll 0 0;
    color: white;
    margin: 0 12px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
}
.module-boutique.etape1 .rappel_gravure{
	color : #EDC13E;
	font-weight: bold;
}
/* Total de la commande */
.etape4 .total,
#total-commande {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #E7E7E7;
}
/* Commentaire */
#commentaire {
	margin-top: 30px;
}
#commentaire textarea{
	width: 50%;
}
#bloc-commentaire 
{
	border: solid 1px #d8d8d8;
	padding: 10px;
	margin-bottom: 15px;
}
#legend-commentaire{
	font-weight : bold;
	line-height: 1.42857143;
}
/* Boutons */
.etape1 #bt-continuer,
.etape1 #bt-commander,
.etape3 .btn-primary,
.etape4 .btn-primary {
	text-transform: uppercase;
	margin: 20px 0;
}
/** transporteurs **/
.item_transporteur{
	padding: 10px 0;
	display: inline-block;
	width: auto;
}
.item_transporteur:last-child{
	border-bottom : none;
}
#label_pays,
.item_transporteur input{
	margin: 0 10px 0 0;
}
.item_transporteur+.item_transporteur input{
	margin: 0 10px 0 20px;
}
.item_transporteur label{
	text-align: left;	
}
/* Tooltip text */
.toolitptp{
	position: relative;
}
.toolitptp .tooltiptext{
	display: inline-block;
}
.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color: #404542;
    border: solid 1px #00473f;
    text-align: left;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 33px;
	left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.toolitptp .tooltiptext::after {    
    content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent #00473f transparent;
}
.toolitptp:hover{
	cursor: pointer;
}
.toolitptp:hover .tooltiptext{
	cursor: pointer;
	visibility: visible;
    opacity: 1;
}
.item_transporteur img{
	padding : 5px 10px 0 20px;
}
.etape1 .item_transporteur img {
	height : 40px;
}
.etape1 .tarif_transport {
	display: none;
}
.etape3 .item_transporteur .tarif_transport{
	display: inline-block;
	padding: 0 0 0 10px;
	font-weight: bold;
}
.delais-transporteur{
	display: none
}

/* =8.6.2 Commande :: ETAPE 2
-------------------------------------------------------------------------------*/
.passes a:hover,
.passes a:focus,
.passes a:active{
	color: #00473f;
}

/* =8.6.3 Commande :: ETAPE 3
-------------------------------------------------------------------------------*/
#adresses_livraison_supplem{
	margin: 40px 0 0 0;
}
.etape3 #transporteurs {
    position: relative;
}
.etape3 #loader_transporteurs {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: white;
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}
#liste_relais,
#bloc_carte_relais {
    height: 400px;
    width  : 49%;
    margin : 0.5%;
    overflow: auto;
    float : left;
}
/*Mise en forme du module colissimo*/
.bloc_colissimo_relais .zone_saisie_relais, 
.bloc_chronopost_relais .zone_saisie_relais{
	display: inline-block;
    padding: 10px 0;
    width: 100%;
}
.bloc_colissimo_relais .zone_saisie_relais input,
.bloc_colissimo_relais .zone_saisie_relais a,
.bloc_chronopost_relais .zone_saisie_relais input,
.bloc_chronopost_relais .zone_saisie_relais a{
	width : 23%;
	margin : 0 1%;	
	float : left;
}
.item_relais {
	border-bottom : 1px solid #CCCCCC;
	background : whitesmoke;
	padding: 7px 2%;
	width : 100%;
	font-size : 11px;
	display: inline-block;
	position : relative;	
}
.item_relais.selected{
	background : #DCDCDC;
}
.item_relais > img{
	display: inline-block;
	float : left;
}
.item_relais div{
	display: inline-block;
	float : left;
	margin-left : 1%;
}
.item_relais .nom{
	display: block;
	font-weight : bold;
	font-size : 12px;
}
.item_relais .km{
	bottom: 5px;
    color: #a8a8a8;
    font-style: italic;
    position: absolute;
    right: 10px;
}
.choisir_relais {
    background: orange none repeat scroll 0 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 3px 10px;
    position: absolute;
    right: 8px;
    text-transform: uppercase;
    top: 11px;
}
.bloc_chronopost_relais .choisir_relais{
	background : #41ADE2;
}
.contenu_window{
	height: 150px;
    width: 250px;
} 
.contenu_window .choisir_relais{
	text-align : center;
	position : relative;
	display: block;
} 
.bloc_colissimo_relais #carte, 
.bloc_chronopost_relais #carte{
	height : 400px;
}
.contenu_window span{
	color : #FFA500;
	display: block;
	font-weight : bold;
}
#liste_relais .conges{
    background: #A6A6A6 none repeat scroll 0 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 3px 10px;
    text-transform: uppercase;
    position: absolute;
    right: 8px;
    top: 11px;    
}
.bloc_colissimo_relais,
.bloc_chronopost_relais {
	position : relative;
}
.bloc_colissimo_relais #liste_relais,
.bloc_chronopost_relais #liste_relais {
	height: 400px;
    overflow: auto;
}
.bloc_colissimo_relais .relais_choisi,
.bloc_chronopost_relais .relais_choisi {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    display: inline-block;
    margin: auto;
    padding: 5px 25px;
    position: relative;
    width: 100%;
}
bloc_colissimo_relais .relais_choisi span.nom,
.bloc_chronopost_relais .relais_choisi span.nom {
    font-weight : bold;
}
.bloc_colissimo_relais .suppr_relais,
.bloc_chronopost_relais .suppr_relais {
	position: absolute;
	top : 5px;
	right : 5px;
}
.bloc_colissimo_relais #loader_colissimo,
.bloc_chronopost_relais #loader_chronopost{
	display: none;
	position: absolute;
	width: 100%;
	height : 100%;
	background : rgba(0,0,0,0.43);
	z-index : 11;
	color : white;
	font-weight : bold;
	text-align: center;
	font-size : 25px;
}
.bloc_colissimo_relais #loader_colissimo img,
.bloc_chronopost_relais #loader_chronopost img{
	height : 200px;
	margin-top : 100px;
}

/* =8.6.4 Commande :: ETAPE 4
-------------------------------------------------------------------------------*/
.montants-panier {
	float: right;
	text-align: right;
	clear: both;
	border-top: 1px solid #DDDDDD;
	padding: 10px;
	min-width: 250px;
}
.montants-panier .libelle {
    display: inline-block;
    margin-right: 20px;
}
/* CGV */
#gestion-cgv{
	margin: 30px 0 0 0;
}
#gestion-cgv input {
	float: left;
	margin: 10px 10px 0px 0px;
}

/* Mode de paiement */
#choix-paiement
{
	display: none;
	margin: 30px 0 0 0;
}
#choix-paiement .panel-body{
	text-align: center;
}
#choix-paiement .panel-body span {
	display: inline-block;
	width: auto;
	text-align: center;
	margin: 0 30px;
}
#choix-paiement label {
	display: block;
}
.img-secu img{
	vertical-align: initial;
}

/* =8.6.5 Commande :: ETAPE 5
-------------------------------------------------------------------------------*/
.etape5 .message{
	background: #f8f8f8;
    padding: 20px 40px;
    text-align: center;
}

/* =8.7 Client
-------------------------------------------------------------------------------*/
.compte .bloc_titre_h1{
	padding: 35px 0 0;
}
.welcome-client{
	font-size: 1.125em;
	font-style: italic;
	color: #c27a62;
	padding: 20px;
	margin: 20px 0 40px 0;
	border-bottom: solid 4px #f6f6f6;
}
.liste-commandes h2 {
  margin: 0px 0 20px 0;
}
.liste-commandes .compte-ref{
	text-decoration: underline;
}
.liste-commandes .compte-ref:hover,
.liste-commandes .compte-ref:focus{
	color: #00473f;
}
.bloc_etats div{
	display: inline-block;
	 width: 14%;
    margin: 1%;
    padding: 5px 0;
    text-align: center;
}
.bloc_etats .suivant{
	background : #D3D3D3;
	color : white;
}
.bloc_etats .selected{
	background : #56C982;
	color : white;
}
.menu-compte a {
    border-bottom: solid 1px #00473f;
    display: block;
    padding: 15px 10px;	
    text-transform: uppercase;
    width: 100%;
}
.menu-compte a:hover,
.menu-compte a:focus {
	background: #00473f;
	color: #fff;
	text-decoration: none;
}
.compte .col-md-9 {
    border-left: 1px solid #929292;
}
/** Histo cdes **/
#adresses_supp_compte,
.entete-commande {
  	background: #f5f5f5;
}
.commande .prix{
	color: #00473f;
	font-weight: 700;
}
.client #infos{
	margin: 30px 0 10px 0;
}
.compte .col-md-9 .table,
.compte #facturation .panel, 
.compte #livraison .panel {
  margin: 20px 0 30px 0;
  padding: 0 0 10px 0;
}
/* .table > tbody > tr > td,  */
/* .table > tbody > tr > th,  */
/* .table > tfoot > tr > td,  */
/* .table > tfoot > tr > th,  */
/* .table > thead > tr > td,  */
/* .table > thead > tr > th */

.devis-attente > tbody > tr > td {
  vertical-align: middle;
}
#creer_livraison{
	margin: 0 0 20px 0;
}
#adresses_supp_compte .panel-body{
	padding: 15px;
}
#adresses_supp_compte .glyphicon {
  padding: 5px 10px;
}
#adresses_supp_compte .glyphicon-remove {
  	color: red;
}
#supression-compte{
	padding: 0 0 20px 0;
	text-align: right;
}
#montant-total{
	font-weight: 600;
}

/* =8.7.1 Client :: Liste paniers
-------------------------------------------------------------------------------*/
#liste_paniers_client .bt_voir_panier{
	margin-right : 10px;
}
.client_panier #infos, 
.client_panier .montant-total, 
.client_panier .commande_panier{
	margin-left : 5%;
}
.client_panier .liste-produits{
	margin: auto;
    width: 90%;
}
.commande_panier{
	margin: 20px 0 10px 0;
}

/* =8.7.2 Client ::  Adresses client
-------------------------------------------------------------------------------*/
#ajout_adresse label,
#ajout_adresse .ligne_checkbox .form-control{
	width : 30%;
}
#ajout_adresse .ligne_checkbox > label,
#ajout_adresse input, 
#ajout_adresse textarea{
	width : 65%;
}
/* =9 Footer
-------------------------------------------------------------------------------*/
footer {
	width: 100%;
	background: #000000;
	color: #ffffff;
	padding: 0 30px;
}
footer h4{
	color: #ffffff;
	font-size: 1em;
	font-weight: 600;
}
.col-six{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin: 15px 0;
}
.lien-tel,
.lien-contact{
	color: #fff;
}
.lien-site-faluche{
	display: block;
	color: #c27a62;
	font-family: 'Caveat', cursive;
	font-size: 1.5em;
	padding: 8px 0;
}
footer .copyright{
	color: #ffffff;
	padding: 5px 10px;
}
.lien-site-faluche:hover,
.lien-site-faluche:focus,
footer .copyright:hover,
footer .copyright:focus{
	text-decoration: underline;
}
.lien-tel:focus,
.lien-tel:hover,
.lien-contact:focus,
.lien-contact:hover,
.lien-site-faluche:hover,
.lien-site-faluche:focus{
	color: #c27a62;
}

/* =10 Coockies
-------------------------------------------------------------------------------*/
.cookie-consent-preferences-dialog h1, .cc_dialog h1{
	background: none;
}
.cc_b_ok
{
   	margin-right: 4px !important;
}
.cc_b_ok,
.cc_b_no, .cc_cp_f_save button
{
	color: #fff !important;
    background-color: #00473f !important;
}
.cc_b_cp{
	margin-top: 5px !important;
}
.cc_b_ok:hover,
.cc_b_no:hover, 
.cc_cp_f_save button:hover,
.cc_b_cp:hover
{
	color: #fff !important;
    background-color: #85837a !important;	
}

/* =11 Media queries
-------------------------------------------------------------------------------*/
/*Mobile*/
@media screen and (min-width: 1054px) {
	/********************************************************** Mobile **********************************************************************/
	.navigation nav > .navwrp > ul {
	  position : relative;	
	}	
	.mobile-only{
		display : none;
	}
	#mm-mmenu{
      display: none !important;
   }

}
@media all and (max-width : 1054px) {
	/********************************************************** Mobile **********************************************************************/
	header{
		position : relative;
	}
	#zone-logo {
		width: 31%;
		padding: 15px 0 15px 10%;
	}
	#zone-widget {
		width: 68%;
	}		
	.pc-only{
		display : none;
	}	
	#bg-navigation {
	    background: none;
	    position: absolute;
	    top: 20px;
	    left : 0;
	    width: auto;
	}
	#bg-navigation .inner{
	    background: none;
	}
	#bg-navigation .navigation{
		z-index: 12;
	}	
	#mmenu {
      display: none !important;
   }
   .lib-filtre ~ .bloc_critere {
	  display: none;
	}
}
/*Fin Mobile*/
@media screen and (max-width: 1600px) {
	/*****************************************************************************************************************************	DarkSeaGreen ***/
	.inner {
/* 	    background: DarkSeaGreen; */
	}
	.carousel-caption,
	#item_diapo_1 .carousel-caption {
		right: 18%;
		left: 18%;
		padding-bottom: 0px;
	}
	.carousel-caption {
		top: 30px;
	}
	#item_diapo_1 .carousel-caption .texte-diapo,
	.carousel-caption .texte-diapo {
		font-size: 1.7rem;
		line-height: 2.5rem;
	}
	.carousel-indicators {
		bottom: -10px;
	}
	.typeahead.dropdown-menu {
		width: auto !important;
	}
}
@media screen and (max-width: 1490px) {
	/*****************************************************************************************************************************	DarkKhaki ***/
	.inner {
/* 	    background: DarkKhaki; */
	}
	.navigation li > a, 
	.navigation li > span {
		height: 100%;
		line-height: unset;
	}
	#item_diapo_1 .carousel-caption {
		right: 10%;
		left: 10%;
	}
	.navigation nav ul li { 
		height: 93px;
	}
	.navigation nav .niveau-2 li {
		height: auto;
	}
	.section-20 .niveau-2 {
		width: 120%;
	}
	#zone-text-ref {
		padding: 30px;
	}
}

@media screen and (max-width: 1324px) {
	/*****************************************************************************************************************************	Green ***/
	.inner {
/* 	    background: green; */
	    padding: 0 10px;
	}
	.carousel-caption .texte-diapo {
/* 		font-size: 2rem; */
/* 		line-height: 2.5rem; */
	}
	#item_diapo_1 .carousel-caption .texte-diapo {
/* 		font-size: 1.6rem; */
/* 		line-height: 2rem; */
	}
	#item_diapo_1 .carousel-caption {
		right: 8%;
		left: 8%;
	}
	.carousel-caption{
		right: 13%;
		left: 13%;
	}
	.texte-diapo .bouton {
		font-size: 1rem;
		line-height: 1rem;
		margin: 10px 10px 10px 10px;
	}
	.inner img {
	    height: auto;
	    max-width: 100%;
	}
	#top-header .panel {
	    left: -25px;
	}
	.colonne_demi {
	    width: 100%;
	}
	#gestion-filtres {
		width: 25%;
	}
	#liste-produits {
		width: 74%;
	}
	.produits{
		flex-basis: 31%;
	}
	.module-catalogue-recherche .produits {
		flex-basis: 23%;
		-ms-flex-basis: 23%;
	}
	#produit-accueil-1 .produits{
		flex-basis: 23%;
	}
	.produit .description{
		min-height : 0;	
	}
	.colonne_droite {
	    margin: 0;
	}
	.navigation nav ul li { 
		height: 93px;
	}
	.navigation nav .niveau-2 li {
		height: auto;
	}
	.navigation li > a, 
	.navigation li > span {
		height: 100%;
		vertical-align: middle;
		line-height: unset;
	}
}
@media screen and (max-width: 1120px) {
	/*****************************************************************************************************************************	Teal ***/
	.inner {
/* 	    background: teal; */
	}
	#zone-logo {
		padding: 15px 0 15px 6%;
	}
	.inner .carre{
		flex-basis: 31%;
		margin: 1%;
	}
	.produits-associes .produits,
	.widget .produits,
	.module-catalogue .produits {
	    flex-basis: 31%;
	}
	.lib-filtre {
		cursor: pointer;
	}
	.lib-filtre.opened ~ .bloc_critere {
		display: block;
	}
	#filtres-critere .lib-filtre {
		position: relative;
	}
	#filtres-critere .lib-filtre::after{
		content: '';
		-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		left: auto;
		border-top: 1px solid #000;
		border-top-color: rgb(0, 0, 0);
		border-top-color: rgb(0, 0, 0);
		border-top-color: #000;
		border-left: 1px solid #000;
		border-left-color: rgb(0, 0, 0);
		border-left-color: rgb(0, 0, 0);
		border-left-color: #000;
		display: block;
		width: 14px;
		height: 14px;
		margin: auto;
/* 		position: absolute; */
/* 		top: 24px; */
/* 		right: 24px; */
		position: absolute;
		top: 8px;
		right: 10px;
		cursor: pointer;
	}
	.lib-filtre:hover::after{
		border-top: 2px solid #00473f;
		border-left: 2px solid #00473f;
	}
	.col-demi {
	    width: 100%;
	}
	.produit .zone-criteres,
	.produit .description {
	    padding: 0 20px;
	}
	.produit .widget.boutique {
	    margin: 20px 0;
	}
	.col-six {
		width: 33.33%;
	}
	.col-double-six {
  		width: 66.66%;
	}
	.zone-selection {
		padding: 0 10px 20px 10px;
	}
		
}
@media screen and (min-width: 1054px) and (max-width: 1290px) {
	/*****************************************************************************************************************************	CadetBlue ***/
	.inner {
/* 	   background: CadetBlue; */
	}
	#zone-logo {
		width: 20%;
		padding: 15px 0 15px 0;
	}
	#bg-navigation {
		width: 64%;
	}
	#zone-widget{
		width: 14%;
	}

}
@media screen and (max-width: 990px) {
	/*****************************************************************************************************************************	Grey ***/
	.inner {
/* 		background: grey; */
	}
	.carousel-caption,
	#item_diapo_1 .carousel-caption {
		right: 5%;
		left: 5%;
		bottom: 0;
	}
	.carousel-caption .texte-diapo {
		font-size: 1.6rem;
		line-height: 1.2rem;
	}
	#item_diapo_1 .carousel-caption .texte-diapo {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}
	.carousel-inner > .item > a > img {
		width: 100vw;
	}
	#toggle_recherche + .popover {
		max-width: none;
		width: 500px;
	}
	.inner .carre{
		flex-basis: 48%;
		margin: 1%;
	}
	.compte .col-md-9 {
	    border-left: medium none;
	    padding: 3% 15px 0;
	}
	.menu-compte {
	    padding: 0;
	    text-align: center;
	}
	.carousel-indicators,
	#etapes-boutique .libelle {
	    display: none;
	}
	#etapes-boutique li .numero {
	    margin: 0 3px 0 0;
	}
	#liste-panier .td-4 .quantite{
		width: 50px;
	}
	#liste-panier .input-group{
		width: 110px;
	}
	.col-titre,
	.col-deux-tier,
	#liste_relais,
	#bloc_carte_relais {
	    width  : 100%;
	}
	.home-info img{
		width: 100%;
		height: auto;
	}
	.home-info a + a{
		font-size: 1em;	
	}
	.menu-footer ul li {
	    display: block;
	}
	.cc_dialog.simple {
		max-width: 100% !important;
	}	
	.module-catalogue .inner_interne {
		display: block;
		width: 100%;
	}
	#gestion-filtres,
	#liste-produits {
		width: 100%;
		margin: 0;
	}
	.module-catalogue-recherche .produits,
	.produits{
		flex-basis: 31%;
	}	
	#zone-histoire h2 {
	  width: 90%;
	  margin: 0px 5% 20px 5%;
	  padding: 10px 0;
	}
	#zone-histoire .col-demi {
		width: 60%;
	}
	#zone-histoire .col-demi+.col-demi {
		width: 40%;
	}
	li.ouvre-sous-menu > a + a {
	  color: inherit !important;
	  background: inherit !important;
	  cursor: initial !important;
	}
	#actualites-accueil-1 .actualite, 
	#section-35 .actualite, 
	#section-35 .actualites {
		flex-basis: 46%;
		-ms-flex-basis: 46%;
		margin: 2%;
	}
	#guide-etapes .numero {
		display: block;
		margin: 0 auto;
	}
	.module-catalogue {
		padding: 0 0;
	}

}
@media screen and (min-width: 700px) and (max-width: 990px) {
	/*****************************************************************************************************************************	PaleVioletRed ***/
	.inner {
/* 	   background: PaleVioletRed; */
	}
	#zone-logo {
		width: 42%;
		padding: 15px 0 15px 8%;
	}
	.carousel-caption .texte-diapo {
		font-size: 1.2rem;
		line-height: 1.2rem;
	}
	.carousel-caption, 
	#item_diapo_1 .carousel-caption {
		right: 10%;
		left: 10%;
		bottom: 10px;
		top: 10px;
	}
	#zone-widget {
		width: 56%;
	}
	.module-catalogue.produit .description {
	    min-height: auto;
	}
	.bloc_etats div {
	    width: 22%;
	}
	#produit-accueil-1 .produits {
		flex-basis: 31%;
	}
}
@media screen and (max-width: 790px) {
	/*****************************************************************************************************************************	Red ***/
	.inner {
/* 		background: red; */
	}
	#zone-logo {
		width: 44%;
		padding: 15px 0 15px 10%;
	}
	#zone-widget {
		width: 54%;
	}
	#liste-actualites .actualites {
	  flex-basis: 100%;
	  margin: 30px 0 0 0;
	}
	.inner .carre{
		flex-basis: 100%;
		margin: 1% 0;
	}
	.carre a{
		margin: 20px 20px;
	}
	#commentaire textarea,
	.item_transporteur {
		width: 100%;
	}
	.lignes_transporteurs .item_transporteur {
		padding: 2px 0;
	}
	.item_transporteur input,
	.item_transporteur + .item_transporteur input {
		display: inline-block;
		margin: 0 2% 0 0;
		width: 8%;
	}
	.item_transporteur label {
		display: inline-block;
		width: 90%;
		vertical-align: top;
	}
	.produit .col-md-6 {
		padding: 0;
	}
}
@media screen and (max-width: 700px) {
	/*****************************************************************************************************************************	Grey ***/
	.inner {
/* 		background: grey; */
	}
	h1{
		font-size: 2.1em;
	}
	h2{
		font-size: 1.7rem;
	}
	h3{
		font-size: 1.4rem;
	}
	.zone-info-pdt h3 a, 
	#liste-produits h3 a {
	  font-size: 1rem;
	  line-height: 1.5em;
	  min-height: 70px;
	}
	#presentation-stadium p {
		font-size: 1em;
		line-height: 1.7em;
		margin: 0;
	}
	blockquote {
		width: 90%;
	}
	#zone-logo {
		width: 54%;
		padding: 15px 0 15px 15%;
	}
	#zone-widget {
		width: 44%;
	}
	.zone-selection {
/* 	  padding: 0 20px; */
	}
	#actualites-accueil-1 .actualite, 
	#section-35 .actualite, 
	#section-35 .actualites {
		flex-basis: 98%;
		-ms-flex-basis: 98%;
		margin: 2% 1%;
	}
	.zone-quantite label,
	.bloc_formulaire label, 
	#zone-choix-critere-principal span {
/* 		width: 35%; */
		width: 30%;
	}
	#zone-reassurance {
		justify-content: space-around;
		flex-wrap: wrap;
	}	
	.produits-associes .produits,
	.widget .produits,
	.module-catalogue .produits,	
	.home-info,
	.module-catalogue-recherche .produits,
	#produit-accueil-1 .produits,
	.produits {
		flex-basis: 48%;
	}
	#upload-fichier,
	.btn-saisie-quantite,
	.bloc_formulaire textarea, 
	#zone-choix-critere-principal select {
/* 		width: 65%; */
		width: 70%;
	}
	#liste-panier .td-4 .input-group{
		float: right;
		width: 110px;
	}
	.item_transporteur,
	#zone-histoire .col-demi {
		width: 100%;
		padding: 0 20px;
	}
	#zone-histoire .col-demi p{
		text-align: center;
	}
	.texte-diapo .bouton,
	#zone-histoire .col-demi + .col-demi {
		display: none;
	}
/* 	.carousel-caption,  */
/* 	#item_diapo_1 .carousel-caption { */
/* 		right: 3%; */
/* 		left: 3%; */
/* 		bottom: 20px; */
/* 	} */
	.devis-attente .c-th-5, 
	.devis-attente .c-th-1, 
	.devis-attente .c-th-6, 
	.devis-attente .c-th-3{
	  display: none;
	}
	.client .devis-attente td {
	  display: inline-block;
	  width: 100%;
	  text-align: left;
	}
	.devis-attente .c-td-5::before{
		content: "Date : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.devis-attente .c-td-1::before{
		content: "Total : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.devis-attente .c-td-6::before{
		content: "Etat : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.devis-attente .c-td-3::before{
		content: "Voir : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
		
}
@media screen and (min-width: 500px) and (max-width: 700px) {
	/*****************************************************************************************************************************	LightBlue ***/
	.inner {
/* 	    background: LightBlue; */
	}
	#zone-logo {
	  width: 65%;
	  padding: 15px 0 15px 10%;
	}
	.carousel-caption .texte-diapo {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}
	.carousel-caption, 
	#item_diapo_1 .carousel-caption {
		right: 10%;
		left: 10%;
		bottom: 10px;
		top: 10px;
	}
	#zone-widget {
		width: 34%;
	}
	h1 {
	  font-size: 2.6em;
	}
	#toggle_recherche + .popover {
		max-width: none;
		width: 280px;
	}
	.menu-2 ul li {
	    padding: 10px 0;
	}
	#boutique-panier #caddie {
	    left: -290%;
	    width: 380%;
	}
	/** Home **/
	.actualite, .actualites {
		flex-basis: 46%;
		-ms-flex-basis: 46%;
		margin: 3% 2%;
	}
	/**#facturation, #livraison,**/
	.col-xs-6,
	.produit .ajouter-panier .bouton,
	#groupe-1, 
	#groupe-2,
	#groupe-5, 
	#groupe-7 {
	    margin: 5% 0 0;
	    width: 100%;
	}
	.compte .prix {
	    background: #f4f4f4 none repeat scroll 0 0;
	    display: inline-block;
	    float: none;
	    text-align: right;
	    width: 100%;
	}
	/** etape 1 **/
	#guide-etapes .libelle{
		display: none;
	}
	#gestion-remise input {
	    width: 70%;
	}
	#bt_submit_panier {
	    width: 100%;
	    margin: 4% 0 0 0;
	    text-align: center;
	}
	#commentaire,
	#total-commande,
	.etape4 #liste-panier td,
	.module-boutique.etape1 #gestion-panier td {
	    border: medium none;
	    display: inline-block;
	    width: 100%;
	    margin: 0;
	}
	#liste-panier td,
	#gestion-panier td {
	    border: none;
	    display: inline-block;
	    width: 100%;
	}
	.th-1,
	.th-3,
	.th-4,
	.th-5,
	.th-6,
	.th-8{
	    display: none;
	}
	#bt_submit_panier,
	#liste-panier .td-1{
		text-align: right;
	}
	#liste-panier .td-3,
	#liste-panier .td-4,
	#liste-panier .td-5,
	#liste-panier .td-6,
	#gestion-panier .td-3, 
	#gestion-panier .td-4, 
	#gestion-panier .td-5,
	#gestion-panier .td-6 {
	    padding-right: 20px;
	    text-align: right !important;
	    background: #f2f2f2;
	    padding: 5px 20px 5px 0;   
	}
	#liste-panier .form-control{
		display: inline-block;
	}
	#liste-panier .td-3::before,
	#gestion-panier .td-3::before {
	    content: "Prix HT : ";
	    font-style: italic;
    	padding: 0 15px 0 0;
	}
	#liste-panier .td-4::before,
	#gestion-panier .td-4::before {
	    content: "Prix unitaire : ";
	    font-style: italic;
    	padding: 0 15px 0 0;
	}
	#liste-panier .td-6::before,
	#gestion-panier .td-6::before {
	    content: "Remise : ";
	     font-style: italic;
    	padding: 0 15px 0 0;
	}
	#liste-panier .td-5::before,
	#gestion-panier .td-5::before {
	    content: "Prix : ";
	     font-style: italic;
    	padding: 0 15px 0 0;
	}
	.col-double-six,
	.etape5 .message,
	.colonne-montant,
	.ajouter-panier .col-demi,
	.diaporama,
	.col-half{
		width: 100%;
	}
	.bloc_etats div {
   	 	width: 30%;
	}
	.col-six {
		width: 50%;
	}
}

@media screen and (min-width: 150px) and (max-width: 500px) {
	/*****************************************************************************************************************************	Lavender ***/
	.inner {
/* 	   background: Lavender; */
	}
	h1 {
	  font-size: 2.4em;
	}
	#item_diapo_1 .carousel-caption .texte-diapo,
	.carousel-caption .texte-diapo {
/* 		font-size: 0.9rem; */
/* 		line-height: 1.2rem; */
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
	.carousel-caption, 
	#item_diapo_1 .carousel-caption {
/* 		right: 5%; */
/* 		left: 5%; */
/* 		bottom: 5px; */
/* 		top: 5px; */
		right: 15%;
		left: 15%;
		bottom: 20px;
		top: 20px;
	}
	.carousel-caption {
		padding: 10px 5px;
	}
	
	
	/**test**/
	.carousel-inner > .item > a > img {
		display: block;
		width: 100vw;
		height: 20vh;
		object-fit: cover; /* or object-fit: contain; */
	}
	#zone-text-ref,
	#presentation-stadium {
		padding: 10px 20px;
	}
	#zone-histoire .col-demi {
		padding: 0;
	}

	#toggle_recherche + .popover {
		max-width: none;
		width: 150px;
	}
	.menu-2 ul li {
	    padding: 10px 0;
	}
	#boutique-panier #caddie {
	    left: -155%;
	    width: 247%;
	}
	/** form **/
	.col-xs-6,
	.produit .ajouter-panier .bouton,
	#groupe-1, 
	#groupe-2,
	#groupe-5,
	#groupe-7 {
	    margin: 5% 0 0;
	    width: 100%;
	}	
	/** form label **/
	#gestion-filtres .bloc_critere,
	.form_nouveau_mdp fieldset,
	.form-abonnement fieldset,
	.form-abonnement fieldset{
	    width: 91%;
	}
	.montant_ligne_commande {
	    background: #f4f4f4 none repeat scroll 0 0;
	    float: none;
	    text-align: right;
	    width: 100%;
	}
	.contenu-categorie{
		margin: 0 2% 3%;
	}
	/** catalogue **/
	/** Autre formulaire **/
	.col-six,
	.col-double-six,
	.bloc_etats div,
	#form-connexion-extranet,
	#form_suppresion_compte,
	#form-validation,
	#form_nouveau_mdp,
	#form-abonnement,
	#form-deabonnement,
	.form_suppresion_compte,
	.form_nouveau_mdp,
	.form-abonnement,
	.reset-filtre{
		width: 96%;
		margin: 2%;
	}
	.module-catalogue .produits {
	    height: auto;
	}
	.produits-associes .produits,
	.widget .produits,
	.module-catalogue .produits,	
	.module-catalogue-recherche .produits,
	#produit-accueil-1 .produits,
	.produits,
	.actualite, 
	.actualites {
/* 		flex-basis: 100%; */
/* 		-ms-flex-basis: 100%; */
/* 		margin: 15px 0; */
	}
	.actualite, 
	.actualites {
		margin: 3% 0;
		padding: 20px;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.25 );
	}
	#upload-fichier span{
		max-width: 100%;
	}
	.produits-associes .produits,
	.widget .produits,
	.module-catalogue .produits,
	.etape5 .message,
	#commande #livraison, 
	#commande #facturation, 
	.commande #livraison, 
	.commande #facturation,
	.colonne-montant,
	.ajouter-panier .col-demi,
	.diaporama,
	.col-half{
		width: 100%;
	}
	/** etape 1 **/
	#guide-etapes .libelle{
		display: none;
	}	
	#liste-panier td,
	#gestion-panier td {
	    border: none;
	    display: inline-block;
	    width: 100%;
	}
	.th-1,
	.th-3,
	.th-4,
	.th-5,
	.th-8{
	    display: none;
	}
	#bt_submit_panier,
	#liste-panier .td-1{
		text-align: right;
	}
	#liste-panier .td-3,
	#liste-panier .td-4,
	#liste-panier .td-5,
	#gestion-panier .td-3, 
	#gestion-panier .td-4, 
	#gestion-panier .td-5 {
	    padding-right: 20px;
	    text-align: right !important;
	    background: #f2f2f2;
	    padding: 5px 20px 5px 0;   
	}
	#liste-panier .form-control{
		display: inline-block;
	}
	#liste-panier .td-3::before,
	#gestion-panier .td-3::before {
	    content: "Prix HT : ";
	    font-style: italic;
    	padding: 0 15px 0 0;
	}
	#liste-panier .td-4::before,
	#gestion-panier .td-4::before {
	    content: "Prix unitaire : ";
	    font-style: italic;
    	padding: 0 15px 0 0;
	}
	#liste-panier .td-5::before,
	#gestion-panier .td-5::before {
	    content: "Prix : ";
	     font-style: italic;
    	padding: 0 15px 0 0;
	}
	/** zone client tableau **/
	.c-th-1,
	.c-th-2,
	.c-th-3,
	.c-th-4,
	.c-th-5,
	.c-th-6,
	.c-th-7{
	    display: none;
	}
	.client .table td{
		display: inline-block;
		width: 100%;
		text-align: left;
	}
	.client .c-td-1::before{
		content: "Réference : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}

	.client .c-td-2::before{
		content: "Libellé : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.client .c-td-3::before{
		content: "Tarifs : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.client .c-td-4::before{
		content: "Quantité : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.client .c-td-5::before{
		content: "Date : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.client .c-td-6::before{
		content: "Etat : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	.client .c-td-7::before{
		content: "Action : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
/* 	.devis-attente .c-td-5::before{ */
/* 		content: "Date : "; */
/* 	    font-style: italic; */
/* 	    font-weight: 600; */
/*     	padding: 0 15px 0 0; */
/* 	} */
	.devis-attente .c-td-1::before{
		content: "Total : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
/* 	.devis-attente .c-td-6::before{ */
/* 		content: "Etat : "; */
/* 	    font-style: italic; */
/* 	    font-weight: 600; */
/*     	padding: 0 15px 0 0; */
/* 	} */
	.devis-attente .c-td-3::before{
		content: "Voir : ";
	    font-style: italic;
	    font-weight: 600;
    	padding: 0 15px 0 0;
	}
	#liste_paniers_client tr{
		border-bottom: 1px solid #ecbab3;
	}
	/** tabs resultat recherche **/
	#resultats_recherche .nav-tabs > li > a{
		font-size: 0.7em;
	}
}

/* End of file site.css */
/* Location: ./assets/css/site.css */