/*---------------------*/
/*  	RESET CSS      */
/*---------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table { font-size: inherit }
fieldset,
img,
button { border: 0 }

/* .mceItemTable, */
/* .mceItemTable td, */
/* .mceItemTable th, */
/* .mceItemTable caption, */
/* .mceVisualAid { border: 1px dashed #BBB } */
/* a.mceItemAnchor { */
/*     width: 12px; */
/*     line-height: 6px; */
/*     overflow: hidden; */
/*     padding-left: 12px; */
/* } */
/* img.mceItemAnchor { */
/*     width: 12px; */
/*     height: 12px; */
/* } */

/*----------------------------------*/
/*  		ZONE A MODIFIER         */
/*----------------------------------*/
body {
    background-color: white;
    color: black;
    font: normal 11px Verdana, sans;
    line-height: 1.6em;
    text-align: left;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}
p {}
h2{	
	color: #00473f;	
	font-size: 2.25em;
	font-weight: 700;
	margin: 25px 0 15px 0;
}
h3{	
	color: #c27a62;
	font-size: 1.6em;
	font-weight: 600;
}
h4{
	color: #00473f;
	font-size: 1.125em;
	text-transform: uppercase;
}
ul { margin-left: 15px }
ul li { list-style-type: none }
li::before {
  	content: "●";
  	color: #c27a62;
  	padding: 0 10px 0 0;
  	font-size: 1.2em;
}
.bouton{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: #fff !important;
	background: #00473f;
	border: solid 2px #00473f;
	padding: 5px 20px;
	margin: 20px 10px;
}
.lien-standard{
	color: #00473f !important;
	font-weight: 700;
	text-decoration: underline;
}
.lien-telechargement{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: #fff !important;
	border: solid 2px #00473f;
	padding: 5px 45px 5px 20px;
	margin: 20px 10px;
	background: url("../img/ico-telecharger.png") no-repeat scroll 95% 40% #00473f;
}
.text-important{
	color: #a01616;
	font-weight: 600;
	font-size: 1.125rem;
}
div .col-md-6 {
    width: 49%;
    display: inline-block;
	vertical-align: top;
}
div .col-md-4 {
    width: 32%;
    display: inline-block;
	vertical-align: top;
}
div .col-md-8 {
    width: 65%;
    display: inline-block;
	vertical-align: top;
}