<div class="module-boutique etape1">
	<div class="inner_interne">
		{$guide_etapes}
		<form action="{$url.formulaire}" id="formulaire-etape1" method="post">
			{$contenu_ajax}
		</form>
	</div>
</div>